* {
    font-family: Helvetica;
}

body {
    background-color: #EAEAEA;
}

nav, footer {
    background-color: #625B5B;
    color: white;
    padding: 20px;
    text-align: center;
}

img {
    width: 100%;
}

.kontrolki {
    margin: 5px;
}

nav a {
    font-weight: bold;
    background-color: #EAEAEA;
    color: #625B5B;
    padding: 10px;
    margin: 50px;
    border-radius: 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #625B5B;
    color: #EAEAEA;
    border: 1px solid #EAEAEA;
}
